// Primary

$mainBlue: #2e2ec8;
$lightGreen: #00d5ae;
$yellow: #f5bd01;
$pink: #f591ce;

// Secondary
$white: hsl(0, 0%, 100%);
$offWhite: #c2c6d6;
$greyishBlue: #9ea3bd;
$purpleBlue: #4a506d;
$offBlack: #191b24;
